
.newsFeed-div {
    display: flex;
    margin-left: 10px;

}

.newsFeed-div .leftMenu {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

/* .leftMenu {
    width: 100%;
} */

.leftMenu h3 {
    text-align: center;
    background-color: #6C757D;
    color: white;
    border: 1px solid;
    width: 80%;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 15px auto;
}

.leftMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;

}

.leftMenu ul a {
    margin-bottom: 4px;
    display: block;
    padding: 14px;
    background-color: #eee;
    text-decoration: none;
    color: #666;
    font-size: large;

}

.leftMenu li a:hover {
    background-color: #555;
    color: white;
}

.leftMenu li a.active {
    background-color: #008CBA;
    color: white;
}

.leftMenu {
    float: left;
    padding: 15px;
}

.newsFeed-div .rightMenu {
    width: 25%;
    padding: 5px;
    /* box-shadow: 2px 4px 4px gray; */
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}

.rightMenu input[type=text] {
    background-color: #EFF3F4;
    padding: 14px;
    margin-top: 20px;
    font-size: 17px;
    border: none;
    border: 2px solid #EFF3F4;
    border-radius: 8px 0 0 8px;
}

.rightMenu .search-container button {
    padding: 14px;
    margin-top: 20px;
    margin-right: 8px;
    background: #EFF3F4;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 2px solid #EFF3F4;
    border-collapse: collapse;
    border-radius: 0 8px 8px 0;
}

.rightMenu .search-container button:hover {
    background: #ccc;
}

.rightMenu .trending-container{
    margin-top: 10px;
    background-color: #EFF3F4;
    border: 2px solid #EFF3F4;
    padding: 8px 0;
    border-radius: 5px;
}
.trending-container h3{
    text-align: left;
    font-size: 20px;
    margin: 5px 0;
    padding: 0 14px;
}

.rightMenu .trending-container .trending-contents{
    text-align: left;
    border-radius: 5px;

}
.trending-content {
    width: 100%;
    margin: 8px 0;
    padding: 8px 14px;
}
.trending-container .trending-content:hover{
    background-color: rgb(237, 237, 237);
}
.trending-contents p, h4{
    margin: 0;
    padding: 0;
}


.newsFeed-div .contentMenu {
    background-color: white;
    border: 2px solid #F7F9F9;
    width: 50%;
    /* padding: 20px; */
    border-radius: 5px;
    margin: 20px;
    float: left;
    border-collapse: collapse;
}

.contentMenu .numberOfBlogs{
    text-align: center;
    color: #008CBA;
}
.newsFeed-div .contentMenuClearfix::after {
    content: "";
    clear: both;
    display: table;
}