
.profile-div {
    display: flex;
    margin-left: 10px;
}

.sidemenuLeft {
    background-color: #F7F7F7;
    width: 22.5%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.sidemenuRight {
    width: 20.5%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    float: left;
    background-color: #F7F7F7;
}

.content {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    float: left;
    background-color: white;
   
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}