.createPost-Container{
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 8px;
    margin-bottom: 10px;
    background-color: white;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.createPost{
    background-color: #037bfc;
    color: white;
    width: 105px;
}
.createPost h3{
    padding: 2px 4px;
}

.createPost-Container .postButton{
    background-color: #037bfc; 
    color: white; 
    border: none;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    border-radius: 3px;
}

.createPost-Container .titleTextArea {
    width: 40%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.createPost-Container .contentTextArea {
    width: 70%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}