.newsCard-Container {
    background-color: white;
    padding: 8px 16px;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* .newsCard-Container:hover{
    background-color: #F7F7F7;
} */

.newsCard-Container .title-author {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}

.newsCard-Container .newsButtons {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
}

.newsCard-Container .newsButtons button {
    margin-right: 10px;
    background-color: #037BFC;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 2px;
    cursor: pointer;
}

.Profile-newsCard-Container {
    background-color: white;
    padding: 8px 16px;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Profile-newsCard-Container .title-time {
    display: flex;
    justify-content: space-between;
}

/* .Profile-newsCard-Container:hover{
    background-color: #F7F7F7;
} */

.Profile-newsCard-Container .newsButtons {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
}

.Profile-newsCard-Container .newsButtons .like-repost-share button {
    margin-right: 10px;
    background-color: #037BFC;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 2px;
    cursor: pointer;
}