
footer {
    background-color: #222;
    color: #fff;
    font-size: 16px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer-icon {
    color: rgb(207, 66, 66);
}

footer a {
    color: #e8ecee;
    text-decoration: none;
}